astroid==2.2.5
autopep8==1.4.4
beautifulsoup4==4.8.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
coverage==5.0.1
Django==2.2.27
django-appconf==1.0.3
django-bootstrap-form==3.4
django-bootstrap-modal-forms==1.4.4
django-haystack==2.8.1
django-ipware==2.1.0
django-js-asset==1.2.2
django-markdown-deux==1.0.5
django-mptt==0.10.0
django-oidc-provider==0.7.0
django-storages==1.7.1
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
email-reply-parser==0.5.9
future==0.17.1
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.19.0
google-resumable-media==0.3.3
googleapis-common-protos==1.6.0
gunicorn==19.9.0
idna==2.8
isort==4.3.21
jsonfield==2.0.2
lazy-object-proxy==1.4.1
lxml==4.4.1
markdown2==2.3.8
mccabe==0.6.1
model-mommy==2.0.0
Pillow==6.1.0
pinax-stripe==4.4.0
protobuf==3.10.0
psycopg2==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycryptodomex==3.8.2
pyjwkest==1.4.2
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
rsa==4.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
stripe==2.35.1
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
